(
    result_sets: [
        // (
        //     name: "s2P<-s2S",
        //     source: "ics.s2P.s2S",
        //     grid: Auto,
        //     energy_units: Auto,
        //     cs_units: Auto,
        // ),
        (
            name: "s2P<-s2S(manual)",
            source: "ics.s2P.s2S",
            grid: Manual([PointsCount(2), PointsCount(3), ToEnd]),
            energy_units: Auto,
            cs_units: Auto,
        ),
    ],
    temperatures: [
        11604.0,
    ],
)