(
    // Sets of results to extract
    result_sets: [
        (
            name: "auto_grid",
            source: "./test_out/ics.s2P.s2S",
            grid: Auto,
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "linear_grid",
            source: "./test_out/ics.s2P.s2S",
            grid: Manual([Repeat(PointsCount(1), 100)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "quadratic_grid",
            source: "./test_out/ics.s2P.s2S",
            grid: Manual([Repeat(PointsCount(2), 100)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "cubic_grid",
            source: "./test_out/ics.s2P.s2S",
            grid: Manual([Repeat(PointsCount(3), 100)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "weird_grid",
            source: "./test_out/ics.s2P.s2S",
            grid: Manual([PointsCount(1), PointsCount(2), PointsCount(3), PointsCount(4), PointsCount(5), PointsCount(6), PointsCount(7), PointsCount(8)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
    ],
    temperatures: [
        Sequence(start: 1.0, end: 10.0, n: 10),
    ],
    temperature_units: ElectronVolt,
    output_folder: "./calc-rates-out",
    output_integrands: true,
    // collision_rate_units: Atomic,
    collision_rate_units: CentimetreCubedPerSecond,
)