(
    result_sets: [
        (
            name: "t2P-s2S(g,n=16(bound))",
            source: "./test_out/g,n=16(bound)/ics.t2P.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 4.61794,
                threshold_energy_units: ElectronVolt,
            )),
        ),
        (
            name: "t2P-s2S(f,n=14(full))",
            source: "./test_out/f,n=14(full)/ics.t2P.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 4.61446,
                threshold_energy_units: ElectronVolt,
            )),
        ),

        (
            name: "s5S-s2S(g,n=16(bound))",
            source: "./test_out/g,n=16(bound)/ics.s5S.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 20.81773,
                threshold_energy_units: ElectronVolt,
            )),
        ),
        (
            name: "s5S-s2S(f,n=14(full))",
            source: "./test_out/f,n=14(full)/ics.s5S.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 20.81267,
                threshold_energy_units: ElectronVolt,
            )),
        ),

        (
            name: "s3D-s2S(g,n=16(bound))",
            source: "./test_out/g,n=16(bound)/ics.s3D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 12.82305,
                threshold_energy_units: ElectronVolt,
            )),
        ),
        (
            name: "s3D-s2S(f,n=14(full))",
            source: "./test_out/f,n=14(full)/ics.s3D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 12.82102,
                threshold_energy_units: ElectronVolt,
            )),
        ),

        (
            name: "s4D-s2S(g,n=16(bound))",
            source: "./test_out/g,n=16(bound)/ics.s4D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 19.21690,
                threshold_energy_units: ElectronVolt,
            )),
        ),
        (
            name: "s4D-s2S(f,n=14(full))",
            source: "./test_out/f,n=14(full)/ics.s4D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 19.21200,
                threshold_energy_units: ElectronVolt,
            )),
        ),

        (
            name: "s5D-s2S(g,n=16(bound))",
            source: "./test_out/g,n=16(bound)/ics.s5D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 21.77351,
                threshold_energy_units: ElectronVolt,
            )),
        ),
        (
            name: "s5D-s2S(f,n=14(full))",
            source: "./test_out/f,n=14(full)/ics.s5D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 21.76808,
                threshold_energy_units: ElectronVolt,
            )),
        ),

        (
            name: "t3D-s2S(g,n=16(bound))",
            source: "./test_out/g,n=16(bound)/ics.t3D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 18.67688,
                threshold_energy_units: ElectronVolt,
            )),
        ),
        (
            name: "t3D-s2S(f,n=14(full))",
            source: "./test_out/f,n=14(full)/ics.t3D.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 18.67109,
                threshold_energy_units: ElectronVolt,
            )),
        ),

        (
            name: "t4F-s2S(g,n=16(bound))",
            source: "./test_out/g,n=16(bound)/ics.t4F.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 21.67420,
                threshold_energy_units: ElectronVolt,
            )),
        ),
        (
            name: "t4F-s2S(f,n=14(full))",
            source: "./test_out/f,n=14(full)/ics.t4F.s2S",
            grid: [
                MonotoneCubic(".."),
            ],
            energy_units: Auto,
            cs_units: Auto,
            calc_strength_ctx: Some((
                degeneracy: 1,
                threshold_energy: 21.68468,
                threshold_energy_units: ElectronVolt,
            )),
        ),
    ],
    temperatures: [
        LogSequence(
            start: 1e+3,
            end: 1e+6,
            n: 40,
        ),
    ],
    temperature_units: Kelvin,
    output_integrands: false,
    output_folder: "./calc-rates-out",
    collision_rate_units: Strength,
)