// I should add functionality to output the integrands to check if a larger energy is required.
(
    result_sets: [
        (
            name: "gridauto(test)",
            source: "./test_out/ics.s2P.s2S",
            grid: Auto,
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "gridauto(test2)",
            source: "./test_out/ics.s2P.s2S",
            grid: Manual([Repeat(PointsCount(3), 100)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "gridauto(test3)",
            source: "./test_out/ics.s2P.s2S",
            grid: Manual([Repeat(PointsCount(3), 100)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "gridauto",
            source: "./test_out/bound-states-3/ics.s2P.s2S",
            grid: Auto,
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "grid1",
            source: "./test_out/bound-states-3/ics.s2P.s2S",
            grid: Manual([Repeat(PointsCount(3), 100)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
        (
            name: "grid2",
            source: "./test_out/bound-states-3/ics.s2P.s2S",
            grid: Manual([Repeat(PointsCount(2), 100)]),
            energy_units: Auto,
            cs_units: Auto,
        ),
    ],
    // I should fix this to be more ergonomic.
    temperatures: [
        1.0,
        2.0,
        3.0,
        4.0,
        5.0,
        6.0,
        7.0,
        8.0,
        9.0,
        10.0,
        // 20.0,
        // 30.0,
        // 40.0,
        // 50.0,
        // 75.0,
        // 100.0,
        // 150.0,
        // 200.0,
        // 300.0,
    ],
    temperature_units: ElectronVolt,

    // temperatures: [
    //     11604.525,
    // ],
    // temperature_units: Kelvin,
    output_folder: "./calc-rates-out",
)